/**
 * @file layout.css
 * @brief Orquestração de Espaço e Grades.
 */

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
}

#dashboard-view {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}

.drone-card {
    background: var(--card);
    border: 1px solid #30363d;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    text-align: left;
    position: relative;
}

.status-indicator {
    position: absolute;
    top: 10px; right: 10px;
    font-size: 0.6rem;
    color: var(--accent);
    border: 1px solid var(--accent);
    padding: 2px 5px;
    border-radius: 4px;
}

.error { color: var(--danger); font-weight: bold; }
