.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #0d1117;
  color: #dd0031; /* Cor característica do Angular */
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid #dd0031;
  padding-bottom: 0.5rem;
}

p {
  font-size: 1.2rem;
  color: #8b949e;
}
